---
import BaseLayout from "../layouts/BaseLayout.astro";
import projects from "../data/projects.json";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>作品集</h2>
  <ul class="projects-list">
    {
      projects.map((project) => (
        <div class="project-card">
          <div class="desc">
            <h3>{project.name}</h3>
            <p>{project.description}</p>
            <div class="links">
              {project.github && (
                <a href={project.github} target="_blank">
                  github
                </a>
              )}
              {project.link && (
                <a href={project.link} target="_blank">
                  link
                </a>
              )}
            </div>
          </div>
        </div>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .projects-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
  }

  .project-card {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    /* width: 80%; */
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .project-card:hover {
    transform: translateY(-5px);
  }

  .desc {
    padding: 20px;
  }

  .desc h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
  }

  .desc p {
    margin: 0 0 20px;
    color: #666;
  }

  .links a {
    color: #007acc;
    text-decoration: none;
    margin-right: 10px;
  }

  .links a:hover {
    text-decoration: underline;
  }

  .cover img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
